:root{
    /*--primary-color: #4cbb17;*/
    --primary-color: #039570;
    --primary-text-color: #ffffff;
    --button-color: grey;
    --button-hover-color: #007457;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: var(--primary-color);
}

a{
    text-decoration: none;
}

.btn{
    background: var(--button-color);
    color: var(--primary-text-color);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.btn:hover{
    background: var(--button-hover-color);
}

.header-bar .current-btn{
    background: var(--button-hover-color);
}

.header-bar{
    position: relative;
    height: 125px;
    background: var(--primary-color);
}

.header-bar img{
    height: 120px;
    padding: 0.25rem;
}

.header-bar .header-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-bar .header-grid h1{
    color: var(--primary-text-color);
    font-size: 3rem;
}

.header-bar .header-grid ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    margin: 0.5rem 1rem;
}

.header-bar .header-grid li{
    display: grid;
}

.header-bar .header-grid a{
    /*width: 100px;*/
    padding: 0.5rem 0;  
}

#showcase{
    width: 100%;
    min-height: 90vh;
    background: url("../img/bg.jfif") no-repeat center center/cover;

    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;

    box-shadow: inset 50px 50px 100px rgba(0, 0, 0, 0.6), inset -50px -50px 100px rgba(0, 0, 0, 0.6);
}

.showcase-grid{
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#showcase h1{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 3rem;
    margin: auto;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.footer-bar{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    min-height: 75px;
    background: var(--primary-color);
    color: var(--primary-text-color);
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Contact Us Page */

.contact-box{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-box .contact-box-border{
    background: var(--primary-color);
    border-radius: 15px;
}

.contact-box p{
    color: var(--primary-text-color);
    font-size: 4rem;
    margin: 2rem 2rem 0;
}

.contact-box a{
    color: #3b5998;
    padding: 2rem;
    
}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* Contact Us Page End */

@media(max-width: 900px){
    .header-bar{
        height: 225px;
    }

    .header-bar .header-grid{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .showcase-grid{
        display: flex;
        flex-direction: column;
    }

/* Contact Us Page */

    .contact-box .contact-box-border{
        background: var(--primary-color);
        border-radius: 15px;
    }
    
    .contact-box p{
        color: var(--primary-text-color);
        font-size: 2rem;
        margin: 1rem 1rem 0;
    }

    .social-links{
        flex-direction: column;
    }

    .contact-box a{
        padding: 0rem 1rem 1rem;
        
    }
    /* Contact Us Page End */
}

@media(max-width:625px){
    .header-bar{
        height: 300px;
    }

    /* Contact Us Page */

    .contact-box .contact-box-border{
        background: var(--primary-color);
        border-radius: 15px;
    }
    
    .contact-box p{
        color: var(--primary-text-color);
        font-size: 1.2rem;
        margin: 1rem;
    }
    /* Contact Us Page End */
}