:root{
    /* --primary-color: #4cbb17; */
    /* --primary-color: #039570; */
    --primary-color: #009425;
    --primary-text-color: #ffffff;
    --button-color: grey;
    --button-hover-color: #096b09;
    /* --button-hover-color: #007457; */
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: var(--primary-color);

    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

.game-container{
    margin: 1rem auto;

    min-height: 800px;
    max-height: 800px;

    justify-content: center;
    align-items: center;
}

.game-container iframe{
    width: 100%;
    min-height: 800px;
    max-height: 800px;
}

.btn{
    background: var(--button-color);
    color: var(--primary-text-color);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.btn:hover{
    background: var(--button-hover-color);
}

/* Header */
.header-bar .current-btn{
    background: var(--button-hover-color);
}

.header-bar{
    position: relative;
    height: 150px;
    background: var(--primary-color);
}

.header-bar .header-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-bar img{
    height: 150px;
    padding: 0.25rem;
}

.header-bar .header-grid h1{
    color: var(--primary-text-color);
    font-size: 3rem;
}

.header-bar .header-grid ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    margin: 0.5rem 1rem;
    justify-content: center;
}

.header-bar .header-grid li{
    display: grid;
    justify-content: center;
    align-items: center;
}

.header-bar .header-grid a{
    color: var(--primary-text-color);
    width: 6.5rem;
    font-weight: 800;
    padding: 0.5rem 0.5rem;
}

/* Showcase Area */

#showcase{
    position: relative;
    min-width: 100%;
    min-height: 90vh;
    background: url("../img/bg.jfif") no-repeat center center/cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;

    box-shadow: inset 50px 50px 100px rgba(0, 0, 0, 0.6), inset -50px -50px 100px rgba(0, 0, 0, 0.6);
}

.showcase-grid{
    display: grid;
    padding: 10rem 0;
    grid-gap: 0;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#showcase h1{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 3rem;
    margin: auto;
}

/* Footer */
.footer-bar{
    position: relative;
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    min-height: 75px;
    background: var(--primary-color);
    color: var(--primary-text-color);
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Contact Us Page */

.contact-box{
    padding: 10rem 0;
    display: flex;align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.contact-box ul{
    list-style: none;
    font-size: 2rem;
    font-weight: bold;
}

.contact-box > ul{
    background: var(--primary-color);
    border-radius: 15px;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.contact-box p{
    color: var(--primary-text-color);
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

#social-links{
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

#fb{
    color: #3b5998;
}

.fb-lg{
    display: inline;
}

.fb-sm{
    display: none;
}
/* Contact Us Page End */

@media(max-width: 1100px){
    .header-bar{
        height: 280px;
    }

    .header-bar .header-grid{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .header-bar .header-grid ul{
        margin: 0.5rem 0;
        grid-gap: 0.5rem;
    }

    .header-bar .header-grid a{
        width: 4.5rem;
        font-weight: 500;
        padding: 0.5rem 0.5rem;
    }

    .showcase-grid{
        display: flex;
        flex-direction: column;
    }

/* Contact Us Page */
    .contact-box p{
        font-size: 0.8rem;
    }

    .fb-lg{
        display: none;
    }

    .fb-sm{
        display: inline;
    }
/* Contact Us Page End */
}

@media(max-width:585px){
    .game-container{
        min-height: 600px;
        max-height: 600px;
    }

    .game-container iframe{
        min-height: 600px;
        max-height: 600px;
    }

    .header-bar{
        height: 340px;
    }

    .header-bar .header-grid a{
        padding: 0.5rem 0.25rem;
        font-size: 0.8rem;
        font-weight: 300;
    }
}

@media(max-width:400px){
    .header-bar{
        height: 400px;
    }

    .header-bar .header-grid ul{
        grid-template-columns: repeat(2, 1fr);
    }
}